services:

  mssql:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      - MSSQL_AGENT_ENABLED=true
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Imgoingtotellalongstory123!@#
    ports:
      - 1433:1433
    volumes:
      - mssql_data:/var/opt/mssql
    networks:
      - kafkanet

  mssqlsink:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      - MSSQL_AGENT_ENABLED=true
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Imgoingtotellalongstory123!@#
    ports:
      - 1434:1433
    volumes:
      - mssql_sink_data:/var/opt/mssql
    networks:
      - kafkanet

  zookeeper:
    image: debezium/zookeeper
    ports:
      - 2181:2181
      - 2888:2888
      - 3888:3888
    networks:
      - kafkanet
    volumes:
      - zk_data:/var/lib/zookeeper/data
      - zk_logs:/var/lib/zookeeper/log

  kafka:
    image: debezium/kafka
    ports:
      - 9092:9092
    environment:
      - ZOOKEEPER_CONNECT=zookeeper:2181
    depends_on:
      - zookeeper
    networks:
      - kafkanet
    volumes:
      - kafka_data:/var/lib/kafka/data

  # https://stackoverflow.com/questions/62525026/kafka-connect-exception-replication-factor-3-larger-than-available-brokers-1
  kafka-connect:
    image: debezium/connect
    build:
      context: .
      dockerfile: kafka_connect_enriched.Dockerfile
    ports:
      - 8083:8083
    environment:
      - BOOTSTRAP_SERVERS=kafka:9092
      - GROUP_ID=1
      - CONFIG_STORAGE_TOPIC=my_connect_configs
      - OFFSET_STORAGE_TOPIC=my_connect_offsets
      - STATUS_STORAGE_TOPIC=my_connect_statuses
      - CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR=1
      - CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR=1
      - CONNECT_STATUS_STORAGE_REPLICATION_FACTOR=1
      - CONNECT_CONFLUENT_TOPIC_REPLICATION_FACTOR=1
    depends_on:
      - kafka
    networks:
      - kafkanet

  kafka-ui:
    image: provectuslabs/kafka-ui
    ports:
      - 8080:8080
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
    networks:
      - kafkanet

networks:
  kafkanet:
    driver: bridge

volumes:
  mssql_data:
  mssql_sink_data:
  zk_data:
  zk_logs:
  kafka_data: